@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
html, body {
    font-size: 16px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #292E43;
}
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center top;
    background-size: 120em auto;
    overflow: hidden;
    font-size: 0.8333333333vw;
}
.body * {
    animation-play-state: paused;
}
.body.loaded {
    opacity: 1;
}
.body.loaded * {
    animation-play-state: running;
}
.body.home_page {
    background-image: url(../img/home-bg.png);
}
.body.terms_page {
    background-image: url(../img/terms-bg.svg);
}
.body.support_page {
    background-image: url(../img/support-bg.png);
}
.body.article_page {
    background-image: url(../img/article-bg.png);
}
.main {
    display: flex;
    flex-direction: column;
    padding-top: 6.5em;
    box-sizing: border-box;
    flex-grow: 1;
}
.wrap {
    max-width: 71.375em;
    width: 90%;
    margin: 0 auto;
}
a {
    color: #81B3FF;
}/*
@media(min-width: 1921px) {
    .body {
        font-size: 0.8333333333vw;
    }
}
@media(max-width: 1269px) {
    .body {
        font-size: 1.2598vw;
    }
}*/
ol, ul {
    padding-left: 1.5em;
}
@media(max-width: 1199px) {
    .body {
        font-size: 1.2598vw;
    }
}
@media(max-width: 767px) {
    .body {
        font-size: 4.267vw;
    }
    .main {
        padding-top: 5em;
    }
    .body.home_page,
    .body.terms_page,
    .body.support_page,
    .body.article_page {
        background-image: none;
    }
}
/**/
@keyframes show {
    from {
        opacity: 0;
        transform: translate(0, 1em);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}